@tailwind base;
@tailwind components;
@tailwind utilities;
@import url(fonts.css);

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #1e1e1e;
    --primary: #fda403;
    --secondary: #1e1e1e;
    --tertiary: #ffffff;
    --quaternary: #f7f7f7;
    --quinary: #f4f4f4;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --background: #ffffff;
      --foreground: #1e1e1e;
      --primary: #fda403;
      --secondary: #1e1e1e;
      --tertiary: #ffffff;
      --quaternary: #f7f7f7;
      --quinary: #f4f4f4;
    }
  }
}

html {
  scroll-behavior: smooth;
  height: 100vh;
}

.intro-section {
  height: calc(100vh - 16px - 56px) !important;
}

@media screen and (max-height: 800px) {
  .intro-section {
    height: calc(100vh - 16px - 56px) !important;
  }
}
.review-item {
  min-width: 512px;
}

@media screen and (max-width: 767px) {
  .review-item {
    min-width: 324px;
  }
}

.ripple {
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
}

.ripple:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  background-image: radial-gradient(circle, #000 10%, transparent 10.01%);
  background-repeat: no-repeat;
  background-position: 50%;
  transform: scale(10, 10);
  opacity: 0;
  transition: transform 0.5s, opacity 1s;
}

.ripple:active:after {
  transform: scale(0, 0);
  opacity: 0.2;
  transition: 0s;
}

.no-scroll-bar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scroll-bar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.loader {
  /* width: 48px; */
  /* height: 48px; */
  border: 3px solid #fff;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

input[type="text"]:disabled {
  background-color: white;
}

textarea:disabled {
  background-color: white;
}

.tour-item-description {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tour-item-description-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

#nprogress .bar {
  background: var(--primary) !important;
}

.infscroll {
  position: absolute;
  animation: scroll linear 60s infinite;
}

@keyframes scroll {
  to {
    transform: translate(calc(-50% - 8px));
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

ol {
  list-style: decimal !important;
  padding-left: 16px;
  margin: auto !important;
}
ul {
  list-style: disc !important;
  padding-left: 20px;
  margin: auto !important;
}
